
  #largemap {
    height: 700px;
    width: 100%;
    z-index: 0;
  }
  .custom-popup .leaflet-popup-content-wrapper {
    background: rgba(70, 145, 158, 0.7);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  .custom-popup .leaflet-popup-tip {
    width: 15px;
    height: 15px;
    padding: 1px;
    margin: -8px auto 0;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: rgba(70, 145, 158, 0.7);
  }
